<h3><%= link_to "Register", "/admins/signup" %> | <%= link_to "Login", "/admins/login" %></h3> 
<div>
   <% if @admin.errors.any? %>
    <div style="color: red; text-align:center;">
      <h2><%= pluralize(@admin.errors.count, "error") %> prohibited this Admin from being Created:</h2>
      <ul style = "list-style-type:none;color:red;">
        <% @admin.errors.each do |error| %>
          <li>*<%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
<%= form_for @admin do |f| %>
    <div id = "form2">
    <h2>Signup Form </h2>
    <label for = "name" class="label">Enter Your Name: </label>
    <%= f.text_field :name %><br><br clear="all">

    <%= f.label :password, "Create Your Password:", class: :label %>   
    <%= f.password_field :password %><br><br clear="all">

    <%= f.label :password_confirmation, "Confirm Your Password:", class: :label %>   
    <%= f.password_field :password_confirmation %><br><br clear="all">

    <%= f.label :dob, "Enter Your DOB:", class: :label %>
    <%= f.date_field :dob %><br><br clear="all">

    <%= f.label :email, "Enter Your Email:", class: :label %>
    <%= f.email_field :email %><br><br clear="all">

    <%= f.label :address, "Enter Your Address:", class: :label %>
    <%= f.text_area :address, cols: 2, rows: 4 %> <br><br><br clear="all">

   <div id = "t"><%= f.check_box :terms_of_services %>
     <%= f.label :terms_of_services, "Accept Terms and Conditions" %>
     </div>
     <br><br>
    <%= f.submit "Submit", :class => "btn-success" %>
    </div>
<% end %>