<h3><%= link_to "Create Product", "/products/create" %> | <%= link_to "Logout", "/logout" %></h3> 
<h2> <%= flash[:message] %></h2>

<%= form_with(url: "/products/index", method: :get) do |form| %>
    <%= form.label(:name, "Search Product with name:", class: :label) %>
    <%= form.text_field(:name, id: :search_field) %><br><br >

  <%= form.label(:customRange2, "Search Product with price:", class: :label) %>
  <%= form.range_field :price, value: 0, :min => 0, :max => 100000, :class => "form-range", :id => "customRange2" %> <br><br>
    <%= form.submit("Search", :class => "btn btn-success") %>
<% end %>

<% if @products.count == 0 %>
<h2> <%= flash[:message2] %></h2>
<% else %>
<table style="margin-left:auto; margin-right:auto;margin-top:50px;">
  <tr> 
    <th>Name</th>
    <th>Price</th>
    <th>Action</th>
  </tr>
<% @products.each do |p| %> 
  <tr>
  <td><%= p.name %></td>
  <td><%= p.price %></td> 
  <td><%= link_to "edit", "/product/edit/#{p.id}" %> </td>
  <td><%= button_to "delete", "/product/#{p.id}", method: :delete %> </td>
  </tr>
<% end %> 
</table>
<% end %>
<% if params[:name] != nil %>
<center>
<button class = "btn"style = "align:center;"><%= link_to "All Products", "/products" %></button>
</center>
<% end %>

<%= will_paginate @products %>
<div style = "margin-bottom:250px;"> 
</div>


